/* Estilos para la Sección de Soporte */
.support-section {
    padding: 40px;
    background-color: #8b8b8b;
    text-align: center;
}

.support-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}